h1{
	font-size: 10vh;
	font-family: Cursive;
}
button{
	font-size: 7vh;
	font-family: Cursive;
}
#hidden{
	visibility: hidden;
}
#hat{
	position: absolute;
	top: 20px;
	left: 50px;
}
#wot{
	width: 40vw;
}
