h1{
	font-size: 10vh;
	font-family: Cursive;
}
button{
	font-size: 7vh;
	font-family: Cursive;
}
#hidden{
	visibility: hidden;
}
#hat{
	position: absolute;
	width: 40vw;
	top: 10vh;
	left: 30vw;
	z-index: 99999;
}
#wot{
	width: 40vw;
	position: absolute;
	top: 20vh;
	left: 30vw;
}
